.header{
    background-color: #d4e6d1;
    color: black;
    margin-bottom: 0px;
    text-align: center;
}

.header h1{
    font-size: 30px;
    margin: 0;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
}