.main{
    background-color: #a7c0a3ef;
    color: black;
    max-width: 700px;
    margin: 60px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.main h2, .main h3{
    padding: 5px;
    text-align: center;
    font-size: large;
    font-weight: light;
} 

.form{
    background-color: #a7c0a3ef;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 30px;
    border-radius: 12px;
    margin: 5px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.form input, .form select{
    background-color: rgba(255, 255, 255, 0.81);
    color: black;
    font-size: 15px;
    padding: 12px;
    border: 1px solid white;
    cursor: pointer;
}

.calBtn, .addBtn{
    background-color: #d4e6d1;
    color: black;
    border: none;
    margin: 5px auto;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 8px;
    align-self: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: background 0.2s ease;
    cursor: pointer;
}

.calBtn:hover{
    background: #e9f3e7;
}

.addBtn:hover{
    background: #e9f3e7;
}

.removeBtn{
    background-color: #d4e6d1;
    color: black;
    border: none;
    margin-left: 20px;
    font-size: 12px;
    padding: 5px;
    border-radius: 8px;
    align-self: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: background 0.2s ease;
    cursor: pointer;
}
