.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: #d4e6d1;
    color: black;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.navLinks{
    display: flex;
    gap: 200px;
    list-style: none;
    padding: 10px;
    margin: 5px;
}

.navLinks a{
    text-decoration: none;
    font-size: 20px;
    transition: color 0.2s ease;
}

.navLinks a:hover{
    color:cadetblue;
}

