
.container {
    background-color: #a7c0a3ef;
    color: black;
    padding: 20px;
    text-align: center;
    max-width: 700px;
    margin: 60px auto;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}